<% if @page.history.length > 0 -%>
<ul id="page_history">
  <% for commit in @page.history -%>
  <li>
    <div class="gravatar">
      <%= gravatar_for User.find(commit.author.name.to_i == 0 ? :first : commit.author.name), :size => 24 %>
    </div>
    <%= link_to(commit.message, page_old_version_url(@page, commit.id)) %> by
    <span class="author"><%= User.find(commit.author.name.to_i == 0 ? :first : commit.author.name).name %></span>,
    <span class="date">
      <%= distance_of_time_in_words_to_now commit.committed_date %> ago
    </span>
  <% end -%>
</ul>
<% end -%>
